// @import './assets/less/util.less';
//reset
page {
    line-height: 1.6;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
}

// 去除滚动条
::-webkit-scrollbar {
    height: 0;
    width: 0;
    color: transparent;
}
